
<div class="container" *ngIf="this._api.logueado">
    <h3>Datos Proyecto:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Nombre Proyecto</th>
              <th scope="col">Equipo</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <th scope="row">{{project.nombre}}</th>
                  <th scope="row">{{project.equipo}}</th>
              </tr>

          </tbody>

    </table>
 
    <h3>Detalles proyecto:</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre Atributo</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let atribute of projectAtributes">
            <th scope="row">{{atribute.mykey.atributo.nombreAtributo}}</th>
            <td>{{atribute.valuenumero}}{{atribute.valueString}}{{atribute.valuefecha}}</td>
           
          </tr>
        </tbody>
  
  
      </table>
      <button (click)="deleteProject()" class="btn btn-danger">Eliminar proyecto</button>
      <td><button (click)="navToModify()" class="btn btn-warning ">Modificar proyecto</button></td>

  
</div>









