
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bravas App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"  routerLink="/">Principal</a>
          </li>

          <li class="nav-item" *ngIf="this._api.logueado">
            <a class="nav-link" href="" routerLinkActive="active"  routerLink="/buscador">Buscar Proyecto</a>
          </li>
     

          <li class="nav-item dropdown" *ngIf="this._api.logueado">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
              Añadir
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"  routerLink="/create-project">Proyecto</a></li>
              <li><a class="dropdown-item"  routerLink="/create-atribute">Atributos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="/list-atributes">Eliminar Atributos</a></li>
            </ul>
          </li>
          
          <li class="nav-item" *ngIf="this._api.logueado">
            <a class="nav-link" href=""> <i class="fas fa-user"></i>Usuario</a>
          </li>
          <li class="nav-item " *ngIf="this._api.logueado">
            <a class="nav-link"> <i class="fas fa-sign-out-alt"(click)="logout()"></i>Logout</a>
          </li>

          <li class="nav-item "*ngIf="!this._api.logueado">
            <a class="nav-link" routerLink="/login"> <i class="fas fa-user"></i>Login</a>
          </li>

          <li class="nav-item "*ngIf="!this._api.logueado">
            <a class="nav-link" routerLink="/register">  <i class="fas fa-user-plus"></i>Registrarse</a>
          </li>

         
         

        </ul>
      </div>
    </div>
  </nav>







